* {
margin:0px 0px;
box-sizing:0px;
padding:0px 0px;
color:black;
text-decoration: none;

}
header {
display: flex;
justify-content: space-between;
font-weight: bold;
align-items: center;
background-color: white;
margin: 0px 0px;
color:rgb(29, 29, 68);
font-size: 20px;
box-shadow: -12px 2px 92px -26px rgba(0,0,0,0.32);
-webkit-box-shadow: -12px 2px 92px -26px rgba(0,0,0,0.32);
-moz-box-shadow: -12px 2px 92px -26px rgba(0,0,0,0.32);
}

header div {
    --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
header div:hover{
    /* color: orangered; */
    

  --_p: 100%;
  --_s: .3s;
    
}


header .booking a{
    background-color: dodgerblue;
    color: white;
    padding: 12px;
    border-radius: 10px;
}
header div.booking :hover{
    background-color: orangered;
    color: rgb(29, 29, 68);
    padding: 12px;
    border-radius: 10px;
}

header div:not(.logo){
    margin: 20px;
}

header div a{
    padding: 20px;
}

header img{
    margin: 10px;
    height:50px ;
    width:50px ;
    box-shadow: 8px 72px 114px -31px rgba(0,0,0,0.94);
    -webkit-box-shadow: 8px 72px 114px -31px rgba(0,0,0,0.94);
    -moz-box-shadow: 8px 72px 114px -31px rgba(0,0,0,0.94);
}
div.om-os{
display: flex;
margin: 10px;
justify-content: space-between;
align-items: center;
}

div.om-ostext{
    margin: 0px 30px;
}

div.om-os div p{
margin: 10px 0px;
font-size: 20px;
color: rgb(29, 29, 68);
text-align: justify;
}

div.boards img{
    height: 400px;
    width: auto;
    border-radius: 15px;
}
    
/* .hover-2 {
  --c: #1095c1; 
  --b: .1em;    
  --d: 20px;    
  
  --_s: calc(var(--d) + var(--b));
  
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path: 
    polygon(
     var(--d) 0%, 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;
} */


