  <div id="header"></div>
    <h1>Lokationer</h1>
    <section class="map observe">
        <iframe
            class="map"
            width="1920"
            height="700"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA_FhSkJ7Mn5J5U945tzP8gnIhkHHDlfwk&q=surf+danmark"
        >
        </iframe>
    </section>