<h1>FAQ (Frequently Asked Questions)</h1>
<section>
    <div class="collapsible-container">
        <button type="button" class="faq"><span>Lorem ipsum dolor sit amet?</span><img src="images/down-arrow.svg" alt="down arrow"></button>
        <div> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
        </div>
    </div>
    <div class="collapsible-container">
        <button type="button" class="faq"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, nobis?</span><img src="images/down-arrow.svg" alt="down arrow"></button>
        <div> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
        </div>
    </div>    <div class="collapsible-container">
        <button type="button" class="faq"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ad?</span><img src="images/down-arrow.svg" alt="down arrow"></button>
        <div> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
        </div>
    </div>    <div class="collapsible-container">
        <button type="button" class="faq"><span>Lorem ipsum dolor sit?</span><img src="images/down-arrow.svg" alt="down arrow"></button>
        <div> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
        </div>
    </div>    <div class="collapsible-container">
        <button type="button" class="faq"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni?</span><img src="images/down-arrow.svg" alt="down arrow"></button>
        <div> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
        </div>
    </div>    <div class="collapsible-container">
        <button type="button" class="faq"><span>Lorem ipsum?</span><img src="images/down-arrow.svg" alt="down arrow"></button>
        <div> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
        </div>
    </div>    <div class="collapsible-container">
        <button type="button" class="faq"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, corporis tempora?</span><img src="images/down-arrow.svg" alt="down arrow"></button>
        <div> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero deleniti repellendus repellat ullam ducimus perferendis fuga repudiandae nostrum rem.</p>
        </div>
    </div>
</section>