<section class="hero flex observe top">
    <div>
        <h1>Lorem ipsum dolor sit amet consectetur perspiciatis?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eos excepturi sit alias soluta repellendus cumque illum odio esse voluptas eaque, placeat tempore in?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi consequuntur architecto mollitia ipsum!</p>
        <div class="btn-container">
            <button class="btn primary contained">Book</button>
            <button class="btn primary text">Lokationer</button>
        </div>
    </div>
    <div>
        <img src="images/surfboards.jpg" alt="surfboards">
    </div>
</section>
<h2>Produkter</h2>
<section class="flex-container observe">
    @foreach (Product product in Model)
    {
        <div>
            <div>
                <h2>@product.Name</h2>
                <img src=@($"/Images/products/{product.ImageUrl}") alt=@product.Name>
                <h3>€@(product.Price.ToString("N2"))</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sed quas modi iste neque ut ipsum eum quam optio perspiciatis!</p>
                <button class="btn primary contained">
                    Se produkt
                </button>
            </div>
        </div>
    }
</section>
<h2>Om Surf's Up</h2>
<section class="flex observe">
    <div>
        <h3>Lorem ipsum dolor sit amet consectetur perspiciatis?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eos excepturi sit alias soluta repellendus cumque illum odio esse voluptas eaque, placeat tempore in?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi consequuntur architecto mollitia ipsum!</p>
    </div>
    <div>
        <img src="images/om-os.jpg" alt="Om-os billede">
    </div>
</section>
<section class="flex observe">
    <div>
        <img src="images/om-os2.jpg" alt="Om-os billede">
    </div>
    <div>
        <h3>Lorem ipsum dolor sit amet consectetur perspiciatis?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eos excepturi sit alias soluta repellendus cumque illum odio esse voluptas eaque, placeat tempore in?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi consequuntur architecto mollitia ipsum!</p>
    </div>
</section>
<h2>Lokationer</h2>
<section class="map observe">
    <iframe class="map"
            width="1920"
            height="700"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA_FhSkJ7Mn5J5U945tzP8gnIhkHHDlfwk&q=surf+danmark">
    </iframe>
</section>