<header>
    <nav>
        <ul>
            <li>
                <a href="om-os.html">Om os</a>
            </li>
            <li>
                <a href="#">Produkter</a>
            </li>
        </ul>
    </nav>
    <a href="/"><img src="images/Skærmbillede 2024-08-23 092940.png" alt="Surf's Up Logo"></a>
    <nav>
        <ul>
            <li>
                <a href="#">Lokationer</a>
            </li>
            <li>
                <button href="#" class="btn contained primary">Book</button>
            </li>
        </ul>
    </nav>
</header>