<header>
    <nav>
        <ul>
            <li>
                <a href="om-os.html" class="nav-item" id="about">Om os</a>
            </li>
            <li>
                <a href="produkter.html" class="nav-item" id="products">Produkter</a>
            </li>
            <li>
                <a href="lokationer.html" class="nav-item" id="locations">Lokationer</a>
            </li>
        </ul>
    </nav>
    <a href="/"><img src="images/Skærmbillede 2024-08-23 092940.png" alt="Surf's Up Logo"></a>
    <nav>
        <ul>
            <li>
                <a href="faq.html" class="nav-item" id="faq">FAQ</a>
            </li>
            <li>
                <a href="kontakt.html" class="nav-item" id="contact">Kontakt</a>
            </li>
            <li>
                <button onclick="location.href='booking.html';" class="btn contained primary">Book</button>
            </li>
        </ul>
    </nav>
</header>