<h1>Vælg kategori</h1>
<section class="">
    <a 
        asp-controller="Produkter" 
        asp-action="Index"
    >
        <img src="~/Images/category-4.jpg" alt="Alle">
        <p>Alle</p>
    </a>
    <a 
        asp-controller="Produkter"
        asp-action="Index"
        asp-route-types="Shortboard"
    >
        <img src="~/Images/category-1.jpg" alt="ShortBoard">
        <p>Shortboard</p>
    </a>
    <a 
        asp-controller="Produkter"
        asp-action="Index"
        asp-route-types="Funboard"
    >
        <img src="~/Images/category-2.jpg" alt="Fun Board">
        <p>Fun Board</p>
    </a>
    <a 
        asp-controller="Produkter"
        asp-action="Index"
        asp-route-types="SUP"
    >
        <img src="~/Images/category-3.jpg" alt="SUP">
        <p>SUP</p>
    </a>
</section>