<h1>Vælg kategori</h1>
<section class="">
    <a 
        asp-controller="Produkter" 
        asp-action="Index"
        asp-route-categoryId="4"
    >
        <img src="~/Images/category-4.jpg" alt="Alle">
        <p>Alle</p>
    </a>
    <a 
        asp-controller="Produkter"
       asp-action="Index"
       asp-route-categoryId="1"
    >
        <img src="~/Images/category-1.jpg" alt="ShortBoard">
        <p>ShortBoard</p>
    </a>
    <a 
       asp-controller="Produkter"
       asp-action="Index"
       asp-route-categoryId="2"
    >
        <img src="~/Images/category-2.jpg" alt="Fun Board">
        <p>Fun Board</p>
    </a>
    <a 
       asp-controller="Produkter"
       asp-action="Index"
       asp-route-categoryId="4"
    >
        <img src="~/Images/category-3.jpg" alt="SUP">
        <p>SUP</p>
    </a>
</section>