@section breadcrumb
{
    <nav class="breadcrumb">
        <a
            asp-controller="Home"
            asp-action="Index"
        >
            Forside
        </a>
        <svg fill="#000000" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title></title><path d="M69.8437,43.3876,33.8422,13.3863a6.0035,6.0035,0,0,0-7.6878,9.223l30.47,25.39-30.47,25.39a6.0035,6.0035,0,0,0,7.6878,9.2231L69.8437,52.6106a6.0091,6.0091,0,0,0,0-9.223Z"></path></g></svg>        
        <a
            asp-controller="Cart"
            asp-action="Index"
        >
            Kurv
        </a>
        <svg fill="#000000" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title></title><path d="M69.8437,43.3876,33.8422,13.3863a6.0035,6.0035,0,0,0-7.6878,9.223l30.47,25.39-30.47,25.39a6.0035,6.0035,0,0,0,7.6878,9.2231L69.8437,52.6106a6.0091,6.0091,0,0,0,0-9.223Z"></path></g></svg>        
        <a
            asp-controller="Checkout"
            asp-action="Index"
        >
            Kontaktoplysninger
        </a>
    </nav>
}


<h1>Kontaktoplysninger</h1>
<section class="form-section">
    <form action="post">
        <div class="row" id="name">
            <div class="input-container">
                <label for="firstname">Fornavn</label>
                <input type="text" name="firstname" placeholder="Fornavn...">
            </div>
            <div class="input-container">
                <label for="lastname">Efternavn</label>
                <input type="text" name="lastname" placeholder="Efternavn...">
            </div>
        </div>
        <div class="row" id="contact">
            <div class="input-container">
                <label for="mail">Email</label>
                <input type="email" name="mail" placeholder="Eksempel@mail.com...">
            </div>
            <div class="input-container">
                <label for="phonenumber">Telefon</label>
                <input type="tel" name="phonenumber" placeholder="+45 01 23 45 67">
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="address">Adresse</label>
                <input type="text" name="address" placeholder="Vejnavn 1...">
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="zip-code">Postnummer</label>
                <input type="text" name="zip-code" placeholder="1234">
            </div>
            <div class="input-container">
                <label for="city">By</label>
                <input type="text" name="city" placeholder="Bynavn...">
            </div>
        </div>
        <button class="btn primary contained">Videre til betaling</button>
    </form>
</section>